@{
    ViewData["Title"] = "SpotifyGuide";
}

<div class="text-center">
    <h1 class="display-4">Вітаю</h1>
    <p> Музична бібліотека у ваших руках :)</p>
</div>

<div style="display : flex; justify-content : center;">
    <iframe src="https://giphy.com/embed/cKJ26BN7SkBPcnG00L" width="240" height="240" class="giphy-embed" allowFullScreen></iframe>
    <iframe src="https://giphy.com/embed/S858z11p2B0S1yUiRs" width="240" height="240" class="giphy-embed" allowFullScreen></iframe>
    <iframe src="https://giphy.com/embed/VFkRQsNSA9VEJYMmf3" width="240" height="240" class="giphy-embed" allowFullScreen></iframe>
    <iframe src="https://giphy.com/embed/horSL2EeGv9gbiBLLm" width="240" height="240" class="giphy-embed" allowFullScreen></iframe>

</div>
<div style="display : flex; justify-content : center;">
    <iframe src="https://giphy.com/embed/ZYW8JT46W7DNkrmIHm" width="240" height="240" class="giphy-embed" allowFullScreen></iframe>
    <iframe src="https://giphy.com/embed/ejDakKvDDt5UA9heWO" width="240" height="240" class="giphy-embed" allowFullScreen></iframe>
    <iframe src="https://giphy.com/embed/fsagdqskhUu8r61sWy" width="240" height="240" class="giphy-embed" allowFullScreen></iframe>
</div>