@model SpotifyWebApplication.Song

@{
    ViewData["Title"] = "Додавання пісні";
}

<h1>Додати пісню до альбому @ViewBag.Name</h1>

<h4>Пісня</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control"/>
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <!--
            <div class="form-group">
                <label asp-for="AlbumId" class="control-label"></label>
                <select asp-for="AlbumId" class ="form-control" asp-items="ViewBag.AlbumId"></select>
            </div>
            -->
            <input type="hidden" value="@ViewBag.AlbumId" name="AlbumId"/>
            <div class="form-group">
                <br/>
                <input type="submit" value="Створити" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Повернутися до альбому</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}